# See https://docs.aspect.build/workflows/configuration
tasks:
  - checkout:
      update_strategy: rebase
  - buildifier:
      queue: aspect-medium
  - configure:
  - test:
  - finalization:
      queue: aspect-small
workspaces:
  - .
  - e2e/smoke:
      tasks:
        - buildifier:
            without: true
  - e2e/smoke_rjs3:
      tasks:
        - buildifier:
            without: true
notifications:
  github: {}
