name: CI

# Controls when the action will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main]
  pull_request:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

concurrency:
  # Cancel previous actions from the same PR or branch except 'main' branch.
  # See https://docs.github.com/en/actions/using-jobs/using-concurrency and https://docs.github.com/en/actions/learn-github-actions/contexts for more info.
  group: concurrency-group::${{ github.workflow }}::${{ github.event.pull_request.number > 0 && format('pr-{0}', github.event.pull_request.number) || github.ref_name }}${{ github.ref_name == 'main' && format('::{0}', github.run_id) || ''}}
  cancel-in-progress: ${{ github.ref_name != 'main' }}

jobs:
  # Prepares dynamic test matrix values
  matrix-prep:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - id: bazel-version
        name: Prepare 'bazel-version' matrix axis
        run: |
          v=$(head -n 1 .bazelversion)
          m=${v::1}
          a=(
            "major:$m, version:\"$v\""
            "major:6, version:\"6.5.0\""
          )
          printf -v j '{%s},' "${a[@]}"
          echo "res=[${j%,}]" | tee -a $GITHUB_OUTPUT
      - id: os
        name: Prepare 'os' matrix axis
        # Only run MacOS and Windows on main branch (not PRs) to minimize minutes (billed at 10X and 2X respectively)
        # https://docs.github.com/en/billing/managing-billing-for-github-actions/about-billing-for-github-actions#included-storage-and-minutes
        run: |
          a=( ubuntu )
          if [[ "${{ github.ref_name }}" == "main" ]] || [[ "${{ github.head_ref }}" == *"macos"* ]]; then
            a+=( macos )
          fi
          if [[ "${{ github.ref_name }}" == "main" ]] || [[ "${{ github.head_ref }}" == *"windows"* ]]; then
            a+=( windows )
          fi
          printf -v j '"%s",' "${a[@]}"
          echo "res=[${j%,}]" | tee -a $GITHUB_OUTPUT
    outputs:
      bazel-version: ${{ steps.bazel-version.outputs.res }}
      os: ${{ steps.os.outputs.res }}

  test:
    runs-on: ${{ matrix.os }}-latest
    needs:
      - matrix-prep
    defaults:
      run:
        working-directory: ${{ matrix.folder }}
    strategy:
      fail-fast: false
      matrix:
        bazel-version: ${{ fromJSON(needs.matrix-prep.outputs.bazel-version) }}
        bzlmod: [1, 0]
        os: ${{ fromJSON(needs.matrix-prep.outputs.os) }}
        folder:
          - "."
          - "e2e/smoke"
        exclude:
          # Don't test MacOS and Windows against secondary bazel version to minimize minutes (billed at 10X and 2X respectively)
          # https://docs.github.com/en/billing/managing-billing-for-github-actions/about-billing-for-github-actions#included-storage-and-minutes
          - os: macos
            bazel-version:
              major: 6
          - os: windows
            bazel-version:
              major: 6
          # Root folder is bzlmod-only
          - folder: .
            bzlmod: 0
        include:
          - bazel-version:
              major: 7
              version: 7.6.1
            bzlmod: 1
            os: ubuntu
            folder: docs

    steps:
      - uses: actions/checkout@v4

      - name: Mount bazel caches
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/bazel-disk-cache
            ~/.cache/bazel-repository-cache
            ~/.cache/xdg-cache
          key: bazel-cache-${{ matrix.bazel-version.version }}-${{ matrix.bzlmod }}-${{ matrix.os }}-${{ matrix.folder }}-${{ hashFiles('.bazelrc', '.bazelversion', '.bazeliskrc', '**/BUILD', '**/BUILD.bazel', '**/*.bzl', 'WORKSPACE', 'WORKSPACE.bazel', 'WORKSPACE.bzlmod', 'MODULE.bazel') }}
          restore-keys: bazel-cache-${{ matrix.bazel-version.version }}-${{ matrix.bzlmod }}-${{ matrix.os }}-${{ matrix.folder }}-

      - name: Configure Bazel version
        shell: bash
        run: |
          # Overwrite the .bazelversion instead of using USE_BAZEL_VERSION so that Bazelisk
          # still bootstraps Aspect CLI from configuration in .bazeliskrc. Aspect CLI will
          # then use .bazelversion to determine which Bazel version to use.
          echo "${{ matrix.bazel-version.version }}" > .bazelversion

      - name: bazel test //...
        shell: bash
        run: |
          bazel test \
            --config=ci \
            --test_tag_filters=-skip-on-bazel${{ matrix.bazel-version.major }} \
            --build_tag_filters=-skip-on-bazel${{ matrix.bazel-version.major }} \
            --enable_bzlmod=${{ matrix.bzlmod }} \
            //...
